/*全局*/
html,body,div,p{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft YaHei";
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
body{
	background: #84ccd0;/*#22C3AA*/

}
/*头部*/
#page_head{
	border: 6px solid rgba(181, 65, 40, 0.3803921568627451);
	border-radius: 59px;
	box-shadow: 0px 1px 42px 3px rgba(95, 81, 78, 0.8588235294117647);/*#888*/
	width: 931px;
	height: 92px;
	margin:0 auto;
	margin-top: 16px;
	background: rgba(253, 253, 253, 0.9294117647058824);/*#efefef*/
}
.head_box{
	text-align: center;
	margin-left: 5px;
	float: left;
}
#home_name{
	margin-left: 51px;
    margin-top: -4px;
}
#home_name img{
	width: 80px;
	height: 80px;
}
#nav{
	margin-left: 0px;
    margin-top: -19px;
    font-size: 16px;
    color: #753131;
}
#cloud_portal{
	margin-left: 133px;
    margin-top: 11px;
    border: 4px solid rgb(216, 0, 0);
    border-radius: 38px;
    background: rgb(216, 0, 0);
    width: 174px;
    height: 61px;
}
#cloud_portal:hover{
    box-shadow: 0px 0px 16px 7px rgb(218, 89, 94);
    transition: all 0.33s ease-in-out;
}
#cloud_portal p{
	margin-top: 10px;
    font-size: 1.9em;
    font-weight: 900;
    font-family: "SimHei";
    color: rgb(220, 220, 220);
}
#baidu{
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin-left: 258px;
    margin-top: 11px;
}
#baidu:hover{
	box-shadow: 0px 0px 16px 7px rgb(130, 146, 226);
    transition: all 0.33s ease-in-out;
}
#baidu img{
	
	width: 70px;
	height: 70px;
}
#bing{
	width: 70px;
    height: 70px;
    border-radius: 35px;
	margin-left: 39px;
    margin-top: 11px;
}
#bing:hover{
	box-shadow: 0px 0px 16px 7px rgb(76, 199, 184);
    transition: all 0.33s ease-in-out;
}
#bing img{
	margin-left: -5px;
    margin-top: -4px;
	width: 79px;
    height: 79px;
}
/*主体*/
#page_body{
	border: 6px solid rgba(32, 86, 202, 0.43137254901960786);
	border-radius: 14px;
	box-shadow: 0px 1px 42px 3px rgba(95, 81, 78, 0.8588235294117647);/*#888*/
	width: 913px;
	height: 1245px;
	margin:0 auto;
	margin-top:30px;
	background: rgba(253, 253, 253, 0.9294117647058824);/*#efefef*/
	position: relative;

}
.little_box{
	border-width: 0px;
	width: 890px;
	height: 109px;
	margin: 0 auto;
	margin-top: 11px;
	
}
#box_top{
	margin-top: 25px;
}
.sys_button{
	border: 2px solid #86a5a5;
    border-radius: 3px;
    width: 176px;
    height: 86px;
    margin-left: 34px;
    margin-top: 11px;
    background-color: #bbe886;
    display: inline-block;
    position: relative;

	/* test
	box-shadow:7px 7px 48px 2px rgb(147, 156, 156);
	*/
}
/* 方案1
.sys_button:hover{
	border-radius: 1px;
	box-shadow:3px 6px 43px 2px rgb(147, 156, 156);
    transition: all 0.2s ease-in-out;
}
*/
/* 方案2 */
.sys_button:hover{
	border-radius: 3px;
	box-shadow:7px 7px 46px -1px rgb(147, 156, 156);
    transition: all 0.2s ease-in-out;
    -webkit-animation-name:shake;
	-webkit-animation-duration:1.3s;
	-moz-animation-name:shake;
	-moz-animation-duration:1.3s;
	-o-animation-name:shake;
	-o-animation-duration:1.3s;
	animation-name:shake;
	animation-duration:1.3s;
}

@-webkit-keyframes shake {
 
	10%, 30%, 50%, 70%, 90% {-webkit-transform: rotate(3deg);}
	20%, 40%, 60%, 80% {-webkit-transform: rotate(-1deg);}
}
@-moz-keyframes shake {
	10%, 30%, 50%, 70%, 90% {-moz-transform: rotate(3deg);}
	20%, 40%, 60%, 80% {-moz-transform: rotate(-1deg);}
}
@-o-keyframes shake
{
	10%, 30%, 50%, 70%, 90% {-o-transform: rotate(3deg);}
	20%, 40%, 60%, 80% {-o-transform: rotate(-1deg);}
}
@keyframes shake
{
	10%, 30%, 50%, 70%, 90% {transform: rotate(3deg);}
	20%, 40%, 60%, 80% {transform: rotate(-1deg);}
}
.margin_left_ctrl{
	margin-left: 28px;
}

.sys_button p{
	cursor: pointer;
	display: block;
	position: absolute;
}
/*尾部*/
#page_foot{
	border-width: 0px;
	margin-top: 57px;
	margin-bottom: 10px;
	text-align: center;
}
/*以下为单个button控制*/

#cbss{
	background-color: #f59501;
	border-color: #f59501;
}
#cbss p{
	font-weight: 500;
    font-size: 28px;
    top: 25px;
    left: 55px;
    color: #161e28;
}
/*------------------------*/
#ess{
	background-color: #f59501;
	border-color: #f59501;
}
#ess p{
	font-weight: 500;
    font-size: 28px;
    top: 25px;
    left: 63px;
    color: #161e28;
}
/*------------------------*/
#let_mego{
	background-color: #f59501;
	border-color: #f59501;
}
#let_mego p{
	font-weight: 500;
    font-size: 27px;
    top: 25px;
    left: 48px;
    color: #161e28;
}
/*------------------------*/
#bss{
	background-color: #f59501;
	border-color: #f59501;
}
#bss p{
	font-weight: 500;
    font-size: 28px;
    top: 25px;
    left: 63px;
    color: #161e28;
}




/*------------------------*/
#iom{
	background-color: #3baae3;
	border-color: #3baae3;
}
#iom p{
	font-weight: 500;
    font-size: 26px;
    top: 26px;
    left: 61px;
    color: #151414;
}
/*------------------------*/
#i_complaint{
	background-color: #3baae3;
	border-color: #3baae3;
}
#i_complaint p{
	font-weight: 500;
    font-size: 23px;
    top: 28px;
    left: 44px;
    color: #000000;
}
/*------------------------*/
#doc_download{
	background-color: #3baae3;
	border-color: #3baae3;
}
#doc_download p{
	font-weight: 500;
    font-size: 22px;
    top: 28px;
    left: 23px;
    color: #000000;
}
/*------------------------*/
#integration{
	background-color: #3baae3;
	border-color: #3baae3;
}
#integration p{
	font-weight: 500;
    font-size: 22px;
    top: 29px;
    left: 54px;
    color: #000000;
}



/*------------------------*/
#discnt_cbss{
	background-color: #ead687;
	border-color: #ead687;
}
#discnt_cbss p{
	font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 11px;
    color: #540000;
}
/*------------------------*/
#discnt_bss{
	background-color: #ead687;
	border-color: #ead687;
}
#discnt_bss p{
	font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 13px;
    color: #540000;
}
/*------------------------*/
#product_act{
	background-color: #ead687;
	border-color: #ead687;
}
#product_act p{
	font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 11px;
    color: #540000;
}
/*------------------------*/
#little_balance{
	background-color: #ead687;
	border-color: #ead687;
}
#little_balance p{
	font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 59px;
    color: #540000;
}


/*------------------------*/
#wo_palm{
	background-color: #e86537;
	border-color: #e86537;
}
#wo_palm p{
	font-weight: 400;
    font-size: 25px;
    top: 27px;
    left: 50px;
    color: #003f69;
}
/*------------------------*/
#order_center{
	background-color: #e86537;
	border-color: #e86537;
}
#order_center p{
	font-weight: 400;
    font-size: 25px;
    top: 27px;
    left: 40px;
    color: #003f69;
}
/*------------------------*/
#lt360{
	background-color: #e86537;
	border-color: #e86537;
}
#lt360 p{
	font-weight: 400;
    font-size: 22px;
    top: 28px;
    left: 27px;
    color: #003f69;
}
/*------------------------*/
#col_triangle{
	background-color: #e86537;
	border-color: #e86537;
}
#col_triangle p{
	font-weight: 400;
    font-size: 25px;
    top: 27px;
    left: 51px;
    color: #003f69;
}



/*------------------------*/
#service_open{
	background-color: #ef444a;
	border-color: #ef444a;
}
#service_open p{
	font-weight: 500;
    font-size: 23px;
    top: 28px;
    left: 41px;
    color: #000000;
}
/*------------------------*/
#compre_resource{
	background-color: #ef444a;
	border-color: #ef444a;
}
#compre_resource p{
	font-weight: 500;
    font-size: 20px;
    top: 30px;
    left: 9px;
    color: #000000;
}
/*------------------------*/
#b_sdm{
	background-color: #ef444a;
	border-color: #ef444a;
}
#b_sdm p{
	font-weight: 500;
    font-size: 22px;
    top: 29px;
    left: 45px;
    color: #000000;
}
/*------------------------*/
#white_card{
	background-color: #ef444a;
	border-color: #ef444a;
}
#white_card p{
	font-weight: 500;
    font-size: 21px;
    top: 29px;
    left: 27px;
    color: #000000;
}




/*------------------------*/
#cent_income{
	background-color: #bbe886;
	border-color: #bbe886;
}
#cent_income p{
	font-weight: 600;
    font-size: 20px;
    top: 30px;
    left: 29px;
    color: #185a58;
}
/*------------------------*/
#account_check{
	background-color: #bbe886;
	border-color: #bbe886;
}
#account_check p{
	font-weight: 600;
    font-size: 20px;
    top: 30px;
    left: 29px;
    color: #185a58;
}
/*------------------------*/
#income_prot{
	background-color: #bbe886;
	border-color: #bbe886;
}
#income_prot p{
	font-weight: 600;
    font-size: 20px;
    top: 30px;
    left: 29px;
    color: #185a58;
}  
/*------------------------*/
#learn_online{
	background-color: #bbe886;
	border-color: #bbe886;
}
#learn_online p{
	font-weight: 600;
    font-size: 20px;
    top: 30px;
    left: 29px;
    color: #185a58;
}  




/*------------------------*/
#v900{
	background-color: #335882;
	border-color: #335882;
}
#v900 p{
	font-weight: 500;
    font-size: 20px;
    top: 30px;
    left: 61px;
    color: #b59090;
}
/*------------------------*/
#nps{
	background-color: #335882;
	border-color: #335882;
}
#nps p{
	font-weight: 500;
    font-size: 20px;
    top: 30px;
    left: 48px;
    color: #b59090;
}
/*------------------------*/
#preve_fraud{
	background-color: #335882;
	border-color: #335882;
}
#preve_fraud p{
	font-weight: 500;
    font-size: 20px;
    top: 30px;
    left: 47px;
    color: #b59090;
}
/*------------------------*/
#lt12321{
	background-color: #335882;
	border-color: #335882;
}
#lt12321 p{
	font-weight: 500;
    font-size: 20px;
    top: 30px;
    left: 41px;
    color: #b59090;
}


/*------------------------*/
#zhengqi{
	background-color: #826c33;
	border-color: #826c33;
}
#zhengqi p{
	font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 15px;
    color: #d8dadc;
}
/*------------------------*/
#onu{
	background-color: #826c33;
	border-color: #826c33;
}
#onu p{
	font-weight: 500;
    font-size: 22px;
    top: 30px;
    left: 62px;
    color: #d8dadc;
}
/*------------------------*/
#zizhu{
	background-color: #826c33;
	border-color: #826c33;
}
#zizhu p{
	font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 15px;
    color: #d8dadc;
}
/*------------------------*/
#jingfen{
	background-color: #826c33;
	border-color: #826c33;
}
#jingfen p{
	font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 15px;
    color: #d8dadc;
}



/*------------------------*/
#weiwan{
	background-color: #4f5569;
	border-color: #4f5569;
}
#weiwan p{
	font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 15px;
    color: #ced4d4;
}
/*------------------------*/
#Placeholder2{
	background-color: #4f5569;
	border-color: #4f5569;
}
#Placeholder2 p{
    font-weight: 500;
    font-size: 19px;
    top: 31px;
    left: 15px;
    color: #ced4d4;
}
/*------------------------*/
#Placeholder3{
	background-color: #4f5569;
	border-color: #4f5569;
}
#Placeholder3 p{
	font-weight: 600;
    font-size: 21px;
    top: 25px;
    left: 55px;
    color: #ced4d4;
}
/*------------------------*/
#Placeholder4{
	background-color: #4f5569;
	border-color: #4f5569;
}
#Placeholder4 p{
	font-weight: 600;
    font-size: 21px;
    top: 25px;
    left: 55px;
    color: #ced4d4;
}



/*------------------------*/
#ocs{
	background-color: #a0a0a0;
	border-color: #a0a0a0;
}
#ocs p{
	font-weight: 600;
    font-size: 22px;
    top: 30px;
    left: 64px;
    color: #505050;
}
/*------------------------*/
#gen_Serv{
	background-color: #a0a0a0;
	border-color: #a0a0a0;
}
#gen_Serv p{
	font-weight: 600;
    font-size: 22px;
    top: 30px;
    left: 55px;
    color: #505050;
}
/*------------------------*/
#daohang1{
	background-color: #a0a0a0;
	border-color: #a0a0a0;
}
#daohang1 p{
	font-weight: 600;
    font-size: 20px;
    top: 31px;
    left: 43px;
    color: #505050;
}
/*------------------------*/
#daohang2{
	background-color: #a0a0a0;
	border-color: #a0a0a0;
}
#daohang2 p{
	font-weight: 600;
    font-size: 20px;
    top: 31px;
    left: 46px;
    color: #505050;
}










/*------------------------*/
#Placeholder1{
	background-color: #a0a0a0;
	border-color: #a0a0a0;
}
#Placeholder1 p{
	font-weight: 600;
    font-size: 21px;
    top: 25px;
    left: 55px;
    color: #505050;
}
